FASTAPI_CFG__NAMES__TITLE=Tennis Portal
FASTAPI_CFG__NAMES__PATH=
FASTAPI_CFG__NAMES__SLUG=makhachkala_open
FASTAPI_CFG__DOCS__USERNAME=admin
FASTAPI_CFG__DOCS__PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tennis_portal
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
